{{left_sidebar_enabled,right_sidebar_enabled=True,('message' in globals())}}

{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>

<iframe width="420" height="315" src="//www.youtube.com/embed/paL9NiUpPL0" 
    frameborder="0" allowfullscreen>
</iframe>

<ul>
    <li>Potassium channel 1bl8</li>
    <li>Made with pymol</li>
</ul>
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
{{block left_sidebar,right_sidebar}}
{{end}}
</html>
